######################
#   ╔╗╔╔═╗╔╦╗┬─┐┌─┐  #
#   ║║║╠═╝║║║├┬┘│    #
#  o╝╚╝╩  ╩ ╩┴└─└─┘  #
######################

# Hide NPM log output unless it is related to an error of some kind:
loglevel=error

# Run "npm audit" after installs
audit=true
