dist: jammy
language: node_js
node_js: node
cache:
    directories: [ node_modules ]
install: npm install
services: mysql
before_install:
    - mysql -e 'CREATE DATABASE IF NOT EXISTS testing;'
    - mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED BY 'mypass'"
script: npm run codecov
